section article
{
	margin-left: 30%;
	margin-bottom: -20px;

}

aside
{
	position: fixed;
	margin-left: 5%;
	margin-top: 10%;
	float:left;
	clear:left;
	border-radius: 25px;
	padding: 10px;
	background-color: #E8AD47;
}

aside ul li 
{
	list-style-type: none;
	margin-left: -20%;
	margin-bottom: 20%;

}

aside ul li a
{
	
	text-decoration:none;
}

