/*
------------------------------------------------------------------------------------------------------------
ESTILOS GENERALES
------------------------------------------------------------------------------------------------------------
*/
html
{
	width:100%;
	background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
	/*
	background-image: url("../imagenes/fondo.jpg");
    background-size: 100%;
    background-repeat: repeat;
    */
}

#Cabecera h1
{
	text-align: center;
}


.autor
{ 
	 font-size: 18px;
	 padding: 8px;
	 text-align: center;
}

/*
------------------------------------------------------------------------------------------------------------
MENU DE NAVEGACION
------------------------------------------------------------------------------------------------------------
*/

/*
@media screen and (min-width: 300px) 
{

	nav 
	{
		width:80%;
		height:100%;
		margin:0;
		position: absolute;
		display:none;
	}
	 
	nav ul li 
	{
		display:inline-block;
		float:none;
		border:1px solid rgba(100,100,100, .3);
	}

	nav ul li a 
	{
		padding:20px;
		display:block;
		text-decoration:none;
	}
}

*/
#Menu 
{
	width:80%;
	margin:0;
	position: none; 
	background-color: none;
	padding: 50;

}

#Menu ul li 
{
	display:inline-block;
	margin:60px;
}

#Menu ul li a 
{
	padding: 10px 50px;
	display:block;
	text-decoration:none;
	color: black;
    transition: all 0.3s linear;
    font-size: 20px;
    text-align: center;
}


/*Cuando el usuario pasa el curso por los botones*/
#Menu ul li a:hover{
    background-color: #F6B773
}

body
{
	width: 85%;
    border: 2.5px solid black;
	padding: 80px;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    margin-right: 8		0px;
    margin-left: 80px;
    font-family: 'Alatsi', sans-serif;
    font-size: 18px;

}

article
{
	margin: 70px;
    /*border: 2px solid white;*/
    border: none;
    padding: 10px;
    border-radius: 25px;
    background: linear-gradient(0.25turn, #f69d3c, #ebf8e1, #3f87a6);

}

section article
{
	position:relative;
	display:block;
}